<header>

  <img (click)='home()' src="https://upload.wikimedia.org/wikipedia/commons/5/51/Pokebola-pokeball-png-0.png" alt="">

  <h1>Pokedex APP</h1>
    <button class='nav' mat-icon-button [matMenuTriggerFor]="animals" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  <mat-menu #animals="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="pokemons">Pokemons</button>

  </mat-menu>

  <mat-menu #pokemons="matMenu">
    <button mat-menu-item>Water</button>
    <button mat-menu-item>Grass</button>
    <button mat-menu-item>Fire</button>
    <button mat-menu-item>Bug</button>
    <button mat-menu-item>Normal</button>

  </mat-menu>

</header>
