header{
    padding: 20px 0px;
    background-color: seagreen;
    display:flex;
}

header h1{
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    align-items: center;
    padding: 20px;

}
img {
    height: 75px;
    text-align: left;
    margin: 10px 20px;
}
nav{
    padding: 20px;
    align-items:flex-end;
}

.nav{
  background-color: seagreen;
}
